<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta data-react-helmet="true" name="viewport" content="width=device-width, initial-scale=1">
	<title>admin</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
	<div class="container">
		<h1>Site Name (Demo)</h1>
		<p>
		hi
		</p>
	</div>
	<div class="container">
		<h1>Current Song</h1>
		<img id="currentimg" class="currentsongimg" src=""></img>
		<div class="currentsonginfo">
			<p class="currentsongtitle" id="currenttitle"></p>
			<p class="currentsongtitle" id="currentartist"></p>
		</div>
	</div>

	<h1>Song Queue</h1>
	<div class="container" id="placehere">
	</div>

	<!-- Should auto update -->
	<iframe id="iframethingymabob" width="300" height="300" src="">
	</iframe>

	<!-- prevents form resubmition on page reload -->
	<script>
		if (window.history.replaceState)
		{
			window.history.replaceState(null, null, window.location.href);
		}
	</script>

	<!-- auto update the songs live -->
	<script>
		var latest = document.getElementById('latest_value');
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '{{ url_for('stream') }}');
		xhr.onreadystatechange = function() {
			var all_lines = xhr.responseText.split('\n');

			/* shit here */
			/* remove all the songs in the queue then add */
			var wtf = document.getElementById("placehere");
			wtf.innerHTML = "";

			var data = all_lines[all_lines.length - 2];	
			let items = data.substring(0, 1);		
			var jsondata = JSON.parse(data.substring(1));
			console.log(jsondata)

			if (document.getElementById('iframethingymabob').src != jsondata[0]["link"])
			{
				document.getElementById('currentimg').src = jsondata[0]["img"]
				document.getElementById('currenttitle').innerHTML = jsondata[0]["title"]
				document.getElementById('currentartist').innerHTML = jsondata[0]["artist"]
				document.getElementById('iframethingymabob').src = jsondata[0]["link"]
			}

			for (let i = 1; i <= items; i++)
			{
				var newDiv = document.createElement("div"); 
				newDiv.className = "songinqueuecontainer";
				newDiv.innerHTML = `<p class="queuesongname">${jsondata[i]["title"]}</p>
				<img class="currentsongimg" src="${jsondata[i]["img"]}"></img>
				<p class="currentsongtitle">${jsondata[i]["artist"]}</p>`
				wtf.appendChild(newDiv);
			}
			
			if (xhr.readyState == XMLHttpRequest.DONE) {
			    latest.textContent = " "
			}
		}
		xhr.send();
	</script>

</body>

</html>
